body {
    background-color: #F5F5F5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.wrap {
  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px #D8BFD8;
  border-radius: 25px;
  padding: 20px;
}

.euhm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h2 {
 text-align: center;
}

.text input {
 width: 200px;
 background-color: #F5F5F5;
 border: none;
 border-bottom: 2px solid black;
 margin-bottom: 10px;
 padding: 10px;
}

button {
 width: 200px;
 border-radius: 45px;
 height:30px;
 margin-bottom: 20px;
 margin-top:20px;
}

button:hover {
 background-color: #D8BFD8;
}

.alert.hidden {
font-size: smaller;
display: none;
}

.alert {
 color: #301934 ;
 font-style: italic;
}

.more {
 font-size: smaller;
 text-align:center;
}